In [13]:
import sqlalchemy
import pandas as pd

In [2]:
from sqlalchemy import create_engine, MetaData, table, inspect

In [15]:
engine = create_engine('sqlite:///meubanco.db')

In [16]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/refs/heads/main/clientes_banco.csv'

In [17]:
dados = pd.read_csv(url)

In [18]:
dados.head()

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio

In [19]:
dados.to_sql('clientes', engine, index=False)

438463

In [20]:
inspector = inspect(engine)
print(inspector.get_table_names())

['clientes']

In [21]:
query = 'SELECT * FROM clientes WHERE Categoria_de_renda="Empregado"'

In [22]:
empregados = pd.read_sql(query, engine)

In [24]:
empregados.to_sql('empregados', con=engine, index=False)

226059